<div class="input-group container mb-5">
    <input type="search" class="form-control rounded" placeholder="Search" #search>
    <button type="button" class="btn btn-outline-primary" (click)="searchItem(search.value)">search</button>
  </div>
<div class="container">
    @if (searched==="") {
    @for (item of Articles; track $index) {
        <div class="d-flex mb-4 align-items-center">
            <img src="{{item.photo}}" alt="Menu Item 1" class="img-fluid me-3" width="200px" height="150px">
            <div>
              <strong>Title:</strong> {{item.titre}} <br> 
              <strong>Date:</strong> {{item.date}} <br> 
              <strong>Description:</strong> {{item.desc}} <br>
              <strong>Score : </strong>{{item.score}} <br>
              <button type="button" class="btn btn-outline-primary" (click)="addOne(item,Articles)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
              </svg>
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="minusOne(item,Articles)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
                  </svg>
              </button>
              
            </div>
          </div>          
    }
}@else {
    @for (item of Articles; track $index) {
        @if (item.titre.toLowerCase().includes(searched)) {
        <div class="d-flex mb-4 align-items-center">
            <img src="{{item.photo}}" alt="Menu Item" class="img-fluid me-3" width="200px" height="150px">
            <div>
              <strong>Title:</strong> {{item.titre}} <br> 
              <strong>Date:</strong> {{item.date}} <br> 
              <strong>Description:</strong> {{item.desc}} <br>
              <strong>Score : </strong>{{item.score}} <br>
              <button type="button" class="btn btn-outline-primary" (click)="addOne(item,Articles)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
              </svg>
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="minusOne(item,Articles)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
                  </svg>
              </button>
              
            </div>
          </div> }         
}
}
    <button type="button" class="btn btn-primary mb-2" (click)="showAddForm()">Ajouter nouveaux article</button>
    @if(showen === "showen"){
    <div>
    <app-add-article [lastId] = "Articles[Articles.length-1].id" (artCreated)="addArt($event)"></app-add-article>
    </div>
}
</div>